@page "/"
@using NoBullshit.Client;
@using NoBullshit.Shared.Models;

<PageTitle>Home | NoBullshit</PageTitle>

<h1>Games</h1>


@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="fst-italic">
        <p>Last update: @games.LastUpdate</p>
        <p>Next update: @games.NextUpdate</p>
    </div>

    <table class="table mb-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Platform</th>
                <th>Genres</th>
                <th>Price</th>
                <th>Rating</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in games.Data!)
            {
                <tr>
                    <td>@game.Name</td>
                    <td>@game.Platform</td>
                    <td>@string.Join(", ", game.Genres ?? Array.Empty<string>())</td>
                    <td>$@game.Price</td>
                    <td>@game.Rating.ToString("0.0")</td>
                    <td>@game.Reviews.ToString()</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex justify-content-center mb-4">
        @if (games!.CurrentPage > 1)
        {
            <a href="?page=1" class="mx-2">&laquo;</a>
            <a href="?page=@(Page - 1)" class="mx-2">&lsaquo;</a>
        }
        <span class="mx-2 fst-italic">
            Page <span class="fst-bold">@games?.CurrentPage</span> of <span class="fst-bold">@games?.Pages</span>
        </span>
        @if (games!.CurrentPage < games!.Pages)
        {
            <a href="?page=@(Page + 1)" class="mx-2">&rsaquo;</a>
            <a href="?page=@(games.Pages)" class="mx-2">&raquo;</a>
        }
    </div>
}

@code {
    private Response<List<Game>>? games;
    private NoBullshitClient? client;

    [Parameter]
    [SupplyParameterFromQuery]
    public int? Page { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(Page);
        client = new NoBullshitClient("https://localhost:7101", "NoBullshit.Cli");
        games = await client.GetGamesAsync(page: Page ?? 1);
    }
}
